body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333556;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture-large {
    width: 150px;
    height: 150px;
    background-image: url(./perfil.png);
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-box {
    width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.notification-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.green-button {
    background-color: green;
    color: white;
}

.red-button {
    background-color: red;
    color: white;
}

.save-button {
    background-color: #191970; 
    color: white;
}